<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.newtouch.dms.repository.LogDetailDao" >
  <resultMap id="BaseResultMap" type="LogDetail" >
    <id column="task_id" property="taskId" jdbcType="INTEGER" />
    <id column="member_id" property="memberId" jdbcType="INTEGER" />
    <id column="day" property="day" jdbcType="DATE" />
    <result column="work_time" property="workTime" jdbcType="DECIMAL" />
    <result column="absent" property="absent" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    task_id, member_id, day, work_time, absent
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="LogDetailKey" >
    select 
    <include refid="Base_Column_List" />
    from pdc_log_detail
    where task_id = #{taskId,jdbcType=INTEGER}
      and member_id = #{memberId,jdbcType=INTEGER}
      and day = #{day,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="LogDetailKey" >
    delete from pdc_log_detail
    where task_id = #{taskId,jdbcType=INTEGER}
      and member_id = #{memberId,jdbcType=INTEGER}
      and day = #{day,jdbcType=DATE}
  </delete>
  <insert id="insert" parameterType="LogDetail" >
    insert into pdc_log_detail (task_id, member_id, day, 
      work_time, absent)
    values (#{taskId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{day,jdbcType=DATE}, 
      #{workTime,jdbcType=DECIMAL}, #{absent,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="LogDetail" >
    insert into pdc_log_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="workTime != null" >
        work_time,
      </if>
      <if test="absent != null" >
        absent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        #{day,jdbcType=DATE},
      </if>
      <if test="workTime != null" >
        #{workTime,jdbcType=DECIMAL},
      </if>
      <if test="absent != null" >
        #{absent,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="LogDetail" >
    update pdc_log_detail
    <set >
      <if test="workTime != null" >
        work_time = #{workTime,jdbcType=DECIMAL},
      </if>
      <if test="absent != null" >
        absent = #{absent,jdbcType=CHAR},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=INTEGER}
      and member_id = #{memberId,jdbcType=INTEGER}
      and day = #{day,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="LogDetail" >
    update pdc_log_detail
    set work_time = #{workTime,jdbcType=DECIMAL},
      absent = #{absent,jdbcType=CHAR}
    where task_id = #{taskId,jdbcType=INTEGER}
      and member_id = #{memberId,jdbcType=INTEGER}
      and day = #{day,jdbcType=DATE}
  </update>
</mapper>