<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.newtouch.dms.repository.MemberDao" >
  <resultMap id="BaseResultMap" type="Member" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pdc_id" property="pdcId" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="CHAR" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="supervisor_id" property="supervisorId" jdbcType="INTEGER" />
    <result column="backup" property="backup" jdbcType="CHAR" />
    <result column="register_date" property="registerDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pdc_id, password, salt, name, gender, role_id, supervisor_id, backup, register_date
  </sql>
  
  <select id="findMemberByPdcId" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select 
    <include refid="Base_Column_List"/>
    from pdc_member
    where pdc_Id = #{pdcId}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pdc_member
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pdc_member
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pdc_member
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Member" useGeneratedKeys="true" keyProperty="id" >
    insert into pdc_member (pdc_id, password, 
      salt, name, 
      <if test="gender != null and gender != ''" >
     	 gender, 
      </if>
      role_id, 
      supervisor_id, 
      <if test="backup != null and backup != ''" >
      	backup, 
      </if>
      register_date
      )
    values (#{pdcId,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      <if test="gender != null and gender != ''" >
       #{gender,jdbcType=CHAR}, 
      </if> 
       #{roleId,jdbcType=INTEGER}, 
      #{supervisorId,jdbcType=INTEGER}, 
      <if test="backup != null and backup != ''" >
      #{backup,jdbcType=CHAR},
      </if>
       #{registerDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="Member" >
    insert into pdc_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pdcId != null" >
        pdc_id,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="supervisorId != null" >
        supervisor_id,
      </if>
      <if test="backup != null" >
        backup,
      </if>
      <if test="registerDate != null" >
        register_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pdcId != null" >
        #{pdcId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=CHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="supervisorId != null" >
        #{supervisorId,jdbcType=INTEGER},
      </if>
      <if test="backup != null" >
        #{backup,jdbcType=CHAR},
      </if>
      <if test="registerDate != null" >
        #{registerDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Member" >
    update pdc_member
    <set >
      <if test="pdcId != null" >
        pdc_id = #{pdcId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="supervisorId != null" >
        supervisor_id = #{supervisorId,jdbcType=INTEGER},
      </if>
      <if test="backup != null" >
        backup = #{backup,jdbcType=CHAR},
      </if>
      <if test="registerDate != null" >
        register_date = #{registerDate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Member" >
    update pdc_member
    set pdc_id = #{pdcId,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      role_id = #{roleId,jdbcType=INTEGER},
      supervisor_id = #{supervisorId,jdbcType=INTEGER},
      backup = #{backup,jdbcType=CHAR},
      register_date = #{registerDate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>