<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.newtouch.dms.repository.TaskStatusDao" >
  <resultMap id="BaseResultMap" type="TaskStatus" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pdc_task_status
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteId" parameterType="java.lang.Integer" >
    delete from pdc_task_status
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="TaskStatus" useGeneratedKeys="true" keyProperty="id">
    insert into pdc_task_status (code)
    values (#{code,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="TaskStatus" >
    insert into pdc_task_status
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateSelective" parameterType="TaskStatus" >
    update pdc_task_status
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="TaskStatus" >
    update pdc_task_status
    set code = #{code,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>