<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.newtouch.dms.repository.UserDao">
	<insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		insert into ss_user (
		login_name, name, password, salt, roles, register_Date)
		values (
		#{loginName}, #{name}, #{password}, #{salt}, #{roles},
		#{registerDate})
	</insert>
	
	<select id="findAll" resultMap="UserMap">
		select * from ss_user
	</select>
	
	<select id="findOne" parameterType="java.lang.Long" resultMap="UserMap">
		select * from ss_user where id = #{id}
	</select>
	
	<select id="findByLoginName" parameterType="String" resultMap="UserMap">
		select * from ss_user where login_name = #{loginName}
	</select>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from ss_user where id = #{id}
	</delete>
	
	<resultMap type="User" id="UserMap">
		<id property="id" column="id"/>
		<result property="loginName" column="login_Name"/>
		<result property="name" column="name"/>
		<result property="password" column="password"/>
		<result property="salt" column="salt"/>
		<result property="roles" column="roles"/>
		<result property="registerDate" column="register_Date"/>
	</resultMap>
</mapper>
